<header>
    <nav>
        <ul>
            <li><a class="menu-link" href="/">Accueil</a></li>
            
            <li><a class="menu-link" href="/voiture">crud des voitures</a></li>
            
        </ul>
    </nav>
</header>
